.calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.calendar-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: italic;
    /* z-index: 10; */
    /* overflow-y: auto; */
}

.calendar-header * {
    margin-inline: 0.25em;
}

.calendar-header h2 {
    width: 6em;
    margin-top: 1px;
}

.calendar_day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: solid 0.1em var(--bg-secondary);
    box-shadow: 0 0.3em 0.4em 0em rgba(49, 49, 58, 0.2);
    position: sticky;
    z-index: 0;
    top: 0;
    background-color: var(--bg); /* Ensures header stays visible */
}

.scrollable-dates {
    max-height: 100%;
    height: 100%;
}

.calendar-contents {
    overflow-y: auto; /* Enables scrolling */
    flex-grow: 1;
    height: 100%;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Ensures all rows fill evenly */
    height: 100%;
    gap: 0.1em;
    margin-top: 10px;
}

.day-label,
.day,
.empty-day {
    text-align: center;
    padding: 10px 0;
    color: var(--fg);
    width: auto;
}

.day-label {
    font-weight: bold;
    /* background-color: #f0f0f0; */
}

.day {
    border: 1px solid var(--bg-secondary);
    cursor: pointer;
    border-radius: 0.5em;
    /* background-color: #ffffff; */
    padding: 0.5em;
    margin: 0;
    color: #666;
}

.day .date {
    margin: 0;
    text-align: left;
    color: #c0c0c0;
}

.day .today {
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-color: var(--primary);
    text-align: center;
    place-content: center;
    border-radius: 1em;
}

.day:hover {
    background-color: var(--bg-tertiary);
}

.hour-row {
    padding: 1em 1em;
}
.hour-row .hour-label {
    margin: 0;
    text-align: left;
    color: #c0c0c0;
}
.hour-content {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
}

.hour-slot {
    padding-left: 0.5em;
}

.week-header {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: solid 0.1em var(--bg-secondary);
    box-shadow: 0 0.3em 0.4em 0em rgba(82, 82, 109, 0.2);
    z-index: 0;
    position: sticky;
    top: 0;
    background-color: var(--bg);
}

.week-hdr {
    flex: 1;
    text-align: center;
    padding: 1px;
    font-weight: bold;
    border-right: 1px solid var(--bg-secondary);
}

.week-body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: solid 0.1em var(--bg-secondary);
}

.week-row {
    display: flex;
    border-bottom: 1px solid var(--bg-secondary);
}

.hour-label {
    width: 60px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.hour-slot {
    /* border-right: 1px solid #ddd; */
    border-bottom: 1px solid var(--bg-secondary);
    min-height: 40px;
    padding-block: 0.5em;
    color: #c0c0c0;
}
.week-hdr .today {
    background: var(--primary);
    border-radius: 0.5em;
    color: white;
}

.rounded-button {
    background-color: var(--primary);
    border: none;
    border-radius: 9999px;
    width: 40px; /* Adjust size as needed */
    height: 40px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.rounded-button:hover {
    background-color: #ff7300;
    animation: spin 0.5s ease-in-out;
}

.icon {
    width: 24px;
    height: 24px;
    color: white;
}

.view-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}

#view-select {
    padding: 0.5em 2rem;
    border-radius: 2em;
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg);
    color: var(--fg);
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
