.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.subcontainer {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.dashboard-hdr {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    background-color: var(--bg);
}

.dashboard-title {
    padding-top: 8px;
    color: var(--primary);
    font-size: 30px;
}

.mand-logo {
    height: 80px;
    width: 105px;
    margin-top: 8px; 
    margin-left: 20px;
}

.char-status-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-inline: 15px;
}

.track-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.track-container div.track-card {
    flex-grow: 1;
    margin-inline: 20px;
    margin-block: 10px;
}

.track-card {
    /* width: 250px; */
    height: 110px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.weeklyprog-container {
    background: var(--bg-secondary);
    margin-top: 40px;
    padding-bottom: 30px;
    margin-left: 20px;
    border-radius: 12px;
}

h2 {
    padding-left: 30px;
    margin-bottom: 0;
}

.duesoon-txt {
    padding-left: 0px;
    padding-bottom: 10px;
}

.weeklycount-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 35px;
}

.status-text {
    margin: 0;
    font-size: 15px;
    padding-top: 12px;
}

.status-count {
    font-size: 40px;
    font-weight: 1000;
    margin: 0;
}

.count-txt {
    padding-top: 7px;
    padding-left: 15px;
}

.weekly-graph {
    margin-top: 30px;
    padding-right: 40px;
    z-index: 0;
}

.list-duesoon {
    width: 50%;
    height: 90.5%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 0 2.5rem 2.5rem 2.5rem;
}

.task-item {
    display: grid;
    grid-template-columns: 1.2fr 3fr 1.5fr 1fr; 
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
}


/* .task-header {
    font-weight: bold;
    background: #f9f9f9;
} */

.task-item:last-child {
    border-bottom: none;
}

.task-date {
    font-weight: bold;
    font-size: 14px;
}

.task-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin-left: 15px;
}

.task-status {
    text-align: left;
    margin-left: 20px;
}

/* Priority colors */
.task-priority.high {
    color: var(--highp);
}

.task-priority.medium {
    color: var(--medp);
}

.task-priority.low {
    color: var(--lowp);
}

@media (max-width: 800px) {
    .subcontainer {
        display: flex;
        flex-direction: column;
    }

    .char-status-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-inline: 15px;
    }

    .list-duesoon {
        width: auto;
    }
}

p {
 font-weight: 600;
}