nav#sidebar {
    max-width: 20vw;
    width: 20vw;
    padding-left: 1em;
    /* height: 100%; */

    z-index: 100;
    box-shadow: 0.1em 0 0.4em  rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
}

/* .sidebar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

section.main {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar item */
.sidebar-item {
    text-decoration: none;
    color: #8c8c8c;
    padding: 1em;
    font-size: 1em;
    margin-block: 0.2em;
    margin-inline: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Highlight the active (selected) item */
.sidebar-item.active {
    background-color: var(--primary); /* Accent color */
    color: white;
    font-weight: 900;
    font-size: 1.5em;
    margin-block: 0.2em;
    margin-inline: 0.5em;
    padding: 0.5em;
    margin-left: 1em;
}

/* Optional: Hover effect for the items */
.sidebar-item:hover {
    background-color: var(--secondary); 
    padding: 0.75em;
    font-size: 1.5em;
    font-weight: 900;
    font-size: 1.5em;
    margin-block: 0.2em;
    margin-left: 1em;
    color: white;
    transition: all 0.2s ease;
}

.mini-calendar {
    display: flex;
    flex-direction: column;
    padding: 0em 0.2em;
    margin-top: auto;
}

.mini-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-content: center;
    height: auto;
}

.mini-week > .mini-day:first-child, /* First "S" (Sunday) */
.mini-week > .mini-day:last-child {  /* Last "S" (Saturday) */
    color: var(--secondary); /* Or any color you prefer */
    font-weight: bold;
}

.mini-day {
    text-align:center;
}

.mini-contents {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.mini-date {
    text-align:center;
    padding: 0.5em;

}
.mini-today {
    border-radius: 50%;
    text-align:center;
    background-color: var(--primary);
    color: white;
    font-weight: 900;
}
