nav#sidebar {
    max-width: 20vw;
    width: 20vw;
    padding-left: 1em;
    /* height: 100%; */

    z-index: 2;
    box-shadow: 0.1em 0 0.4em rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
}

/* .sidebar-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

section.main {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar item */
.sidebar-item {
    display: flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: var(--fg-secondary);
    padding: 0.5em;
    padding-block: 1em;
    margin-block: 0.2em;
    /* margin-inline: 0.5em; */
    border-radius: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Highlight the active (selected) item */
.sidebar-item.active {
    background-color: var(--primary);
    color: white;
    font-weight: 900;
    width: 90%;
}

/* Optional: Hover effect for the items */
.sidebar-item:hover {
    background-color: var(--secondary);
    font-size: 1.5em;
    font-weight: 900;
    font-size: 1.5em;
    margin-block: 0.2em;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    width: 90%;
}

.mini-calendar {
    display: flex;
    flex-direction: column;
    padding: 0em 0.2em;
    margin-top: auto;
    margin-bottom: 1em;
}

.mini-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-content: center;
}

.mini-week > .mini-day:first-child, /* First "S" (Sunday) */
.mini-week > .mini-day:last-child {
    /* Last "S" (Saturday) */
    color: var(--secondary); /* Or any color you prefer */
    font-weight: bold;
}

.mini-day {
    text-align: center;
}

.mini-contents {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.mini-date {
    text-align: center;
    /*padding: 0.5em; */
}

.infront {
    background: var(--bg);
    color: var(--fg);
    width: 420px;
    height: 420px;
    margin: auto;
    z-index: 10;
    padding: 2em;
    border-radius: 12px;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.mini-today {
    border-radius: 10%;
    text-align: center;
    background-color: var(--primary);
    color: white;
    font-weight: 900;
}

/*.icon {
    width: 2em;
}*/

.sidebar-item .size-medium {
    color: rgb(125, 126, 142);
    width: 50%;
    height: auto;
    max-width: 50px;
    min-width: 30px;
    padding-right: 15px;
}

.sidebar-item.active .size-medium {
    color: white;
}

.sidebar-item:hover .size-medium {
    color: white;
}

@media (max-width: 1000px) {
    .sidebar-item span.sidebar-text {
        display: none;
    }
}
