.calendar-container {
    width: 80vw;
    height: 75vh;
}

.calendar-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
}

.calendar-header * {
    margin-inline: 0.5em;
}

.calendar-header h2 {
    width: 8em;
}

.calendar_day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: solid 0.1em #666;
    box-shadow: 0 0.3em 0.4em 0em rgba(65, 65, 89, 0.2);
    z-index: 10;
    position: relative; /* This ensures that the z-index works */
}

.scrollable-dates {
    max-height: 100%;
    height: 100%;
    overflow-y: auto; /* Enable scrolling for dates only */
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
}

.day-label,
.day,
.empty-day {
    text-align: center;
    padding: 10px 0;
    color: #666;
}

.day-label {
    font-weight: bold;
    /* background-color: #f0f0f0; */
}

.day {
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #ffffff;
    padding: 0.5em;
    margin: 0;
    color: #666;
}

.day .date {
    margin: 0;
    text-align: left;
    color: #c0c0c0;
}

.day .today {
    color: white;
    font-weight: 900;
    background-color: var(--primary);
    width: 2em;
    height: 2em;
    text-align: center;
    place-content: center;
    border-radius: 1em;
}

.day:hover {
    background-color: #e6f7ff;
}
