/* Container for all tasks */
.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* Header Styling */
.task-header {
    display: flex;
    flex-direction: row;
    position: sticky;
    background: var(--bg);
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding-left: 30px;
}


.header-label {
    padding-right: 10px;
}

.sort-select {
    padding: 5px;
    background-color: var(--bg);
    border-radius: 5px;
    border: 1px solid var(--bg-secondary);
    color: var(--fg);
    margin-right: 40px;
}

.sort-select:hover {
    background-color: var(--bg);
}

.filter-btn {
    padding: 5px;
    color: var(--fg);
    width: 40px;
    height: 40px;
}

.filter-btn:hover {
    background-color: var(--primary);

}

/* Body of the tasks */
.task-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* Ensures left and right elements are spaced apart */
    margin-left: 20px;
    height: 100%;
    overflow-y: scroll;
}


/* Task List Styling */
.task-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* padding: 10px; */
}

.task-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
}

.task-del {
    margin-left: auto;
    height: 30px;
    width: 30px;
    padding: 3px;
    background: none;
    color: black;
    align-self: flex-start;
    justify-self: flex-end;
}

.task-del:hover {
    color: white;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
}

.task-date,
.task-priority,
.task-status {
    font-size: 14px;
    color: var(--fg-secondary);
}

/* Chart Section Styling */
.task-chart {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task-chart ul {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    color: var(--fg-secondary);
}

.task-chart p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recharts-surface {
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .task-body {
        flex-direction: column;
        align-items: center;
        padding: 2em;
        width: auto;
        /* height: 100%; */
        overflow-y: scroll;
    }

    .task-list {
        padding: 15px;
        height: 50vh;
        width: 100%;
        overflow-y: scroll;
    }

    .task-chart {
        display: flex;
        flex-direction: row;
    }

    .task-chart * {
        font-size: 8px;
    }
}