.task {
    display: flex;
    flex-direction: column;
    /* height: 5em; */
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 0.5em;
    /* width: auto; */
}

.task-low {
    background: var(--lowp-bg);
    border: solid 0.2em var(--lowp);
    color: var(--lowp);
}

.task-medium {
    background: var(--medp-bg);
    border: solid 0.2em var(--medp);
    color: var(--medp);
}

.task-high {
    background: var(--highp-bg);
    border: solid 0.2em var(--highp);
    color: var(--highp);
}

.task-low p {
    color: var(--lowp);
}
.task-medium p {
    color: var(--medp);
}
.task-high p {
    color: var(--highp);
}

h3.task-name {
    font-weight: 600;
    font-size: 1em;
    margin: 0em;
    line-height: 1em;
    text-align: left;
}

.task p {
    font-size: 0.8em;
    margin: 0;
    text-align: left;
}

.task-li {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 0;
    padding: 0em;
    border-radius: 0.5em;
    justify-content: space-between;
}

.task-li-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    padding: 0em;
    padding-bottom: 25px;
    border-radius: 0.5em;
}

.task-li p {
    margin: 0;
}

.task-li h3 {
    margin: 0em;
    color: var(--primary);
    font-weight: 900;
}

.task-li .task-priority-li {
    font-weight: 900;
}

.task-low-li {
    color: var(--lowp);
}
.task-medium-li {
    color: var(--medp);
}
.task-high-li {
    color: var(--highp);
}

.task-status-li {
    color: var(--secondary);
    font-weight: 900;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 0em;
}

.btn-row p {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.btn-row:hover p {
    opacity: 1;
}

.smol-icon {
    min-width: 30px;
    max-width: 30px;
    width: 100%;
    /* height: 100%; */
    margin-right: 0.5em;
    color: var(--primary);
    transition:all 0.5s ease-in-out;
}
.status-btn {
    background: none;
    /* width: auto; */
    flex-grow: 0;
    border-radius: 50%;
    padding: 0;
    margin: 0;  
    /* border: none; */
    display: none;
}
.task:hover .status-btn {
    display: block;
}

.status-btn:hover {
    background: none;
    flex-grow: 0;
    border-radius: 50%;
    color: var(--secondary);
    /* border: none; */
}
.status-btn:hover .smol-icon {
    color: var(--secondary);
}

@media (max-width: 1000px)  {
    .task p {
        display: none;
    }
    .task h3 {
        display: none;
    }

    .status-btn {
        display: none;
    }
}