/* Container for all tasks */
.task-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bg);
    max-height: 100%;
    height: 100%;
    overflow-y: hidden;
}

/* Header Styling */
.task-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* position: sticky; */
    background: var(--bg);
    width: auto;
    height: 50px;
    align-items: center;
    /* justify-content: space-between; */
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.header-label {
    padding-right: 10px;
    font-weight: 600;
    padding-left: 20px;
}

.header-section {
    margin-left: 30px;
}

.sort-select {
    padding: 5px;
    background-color: var(--bg);
    border-radius: 5px;
    border: 1px solid var(--bg-secondary);
    color: var(--fg);
    margin-right: 40px;
}

.sort-select:hover {
    background-color: var(--bg);
}

button.filter-btn {
    /* margin: 10px; */
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border: none;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    padding-left: 5px;
}

.search-input {
    padding: 5px;
    background-color: var(--bg);
    border-radius: 5px;
    border: 1px solid var(--bg-tertiary);
    color: var(--fg);
    margin-right: 5px;
}

.filter-btn:hover {
    background-color: var(--alt-primary);
}

/* Body of the tasks */
.task-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* Ensures left and right elements are spaced apart */
    margin-left: 20px;
    height: 100%;
    /* overflow-y: scroll; */
}

/* Task List Styling */
.task-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* padding: 10px; */
}

.task-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 90%;
    overflow-y: scroll;
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 10px;
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
}

.task-del {
    margin-left: auto;
    height: 30px;
    width: 30px;
    padding: 3px;
    border: none;
    background: none;
    color: var(--fg);
    border-radius: 5px;
    align-self: flex-start;
    justify-self: flex-end;
    transition: all 0.25s;
}

.task-del:hover {
    background: var(--alt-primary);
    color: white;
    /* color: var(--); */
}

.task-title {
    font-size: 20px;
    font-weight: bold;
}

.task-date,
.task-priority,
.task-status {
    font-size: 14px;
    color: var(--fg-secondary);
}

/* Chart Section Styling */
.task-chart {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task-chart ul {
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    color: var(--fg-secondary);
}

.task-chart p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recharts-surface {
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.smol-icon {
    /* width: 100%; */
    height: 25px;
    min-width: 25px;
    max-width: 25px;
    color: white;
}

@media screen and (max-width: 1000px) {
    .task-body {
        flex-direction: column;
        align-items: center;
        padding: 2em;
        width: auto;
        /* height: 100%; */
        overflow-y: scroll;
    }

    .task-list {
        padding: 15px;
        height: 50vh;
        width: 100%;
        overflow-y: scroll;
    }

    .task-chart {
        display: flex;
        flex-direction: row;
    }

    .task-chart * {
        font-size: 8px;
    }
}
