.front-page {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.front-page div,
section {
    margin-block: 40px;
}

header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* padding: 0 1em; */
    background: var(--bg);
    box-shadow: 0 4px 6px rgba(255, 115, 1, 0.174);

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

header.header img.logo {
    width: 100px;
    margin: 0;
    padding: 0;
}

header.header a {
    margin-inline: 20px;
}

header.header h1 {
    color: var(--primary);
}

header.header div.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header.header div.quick-access {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quickaccs {
    color: var(--lowp);
    font-weight: 600;
}

.hero * {
    margin-left: 20px;
}

.hero button {
    align-self: left;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1.hero {
    font-size: 5em;
    line-height: 1em;
    color: var(--fg);
    margin-block: 0;
    padding: 0;
}
h2.hero {
    font-size: 4em;
    line-height: 1em;
    margin-block: 0;
    padding: 0;
    color: var(--fg);
}

.hero p {
    font-size: 2em;
    margin-block: 0.2em;
    color: var(--primary);
    font-weight: 700;
}

.hero-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
    overflow-x: hidden;
}

.hero-image img {
    width: 100%;
    border: solid 0.1em var(--bg-secondary);
    border-radius: 1em;

    /* margin-left: 10em; */
}

section.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 3em;
    }
}

section.features-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    /* margin: auto; */
}

div.card-ft {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    height: 100%;
    /* min-width: 25%; */
    width: 25%;
    margin-block: 0.1em;
    padding: 2em 1em;
    margin-inline: 0.5em;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
    /* overflow-x: hidden; */
}

div.card-ft * {
    margin-block: 1em;
    padding: 0;
}

div.card-ft:hover {
    /* background-color: var(--primary-hover); */
    width: 50%;
}

section.steps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block: 0;
}

div.step {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-block: 0.5em;
    margin-inline: 20px;
}

div.step-number {
    background: var(--primary);
    width: 2em;
    height: 2em;
    font-size: 2em;
    text-align: center;
    place-content: center;
    border-radius: 50%;
    color: var(--bg);
    font-weight: bold;
    margin-inline: 1em;
    align-self: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
    margin-block: 0;
}

div.step-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-block: 0;
    /* margin-inline: 20px; */
}
div.step-content * {
    margin-block: 0;
}

div.step-content h3 {
    font-size: 2.5em;
    font-weight: 900;
}

div.step-content p {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

div.step:hover p {
    opacity: 1;
}

section.about {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 20px;
}

section.about h2 {
    font-size: 3em;
    text-align: center;
}

section.about div.who {
    background: var(--primary);
    color: var(--bg);
    border-radius: 1em;
    padding: 2em;
    font-weight: 600;
}

section.about div.who h3 {
    font-size: 2em;
    text-align: left;
}

section.about div.purpose {
    background: var(--secondary);
    color: var(--bg);
    border-radius: 1em;
    padding: 2em;
    font-weight: 600;
}

section.about div.purpose h3 {
    font-size: 2em;
    text-align: right;
}

.testimonials {
    flex-basis: 350px;
    flex-shrink: 0;
    display: block;
    margin-inline: 20px;
    width: 75%;
    /* overflow: auto; */
    text-wrap: nowrap;
    overflow-x: scroll;

    scroll-behavior: smooth;

    /* Fading sides */
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 25%,
        black 75%,
        transparent 100%
    );
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.testimonials::-webkit-scrollbar {
    display: none;
    color: none;
    width: 0;
    height: 0;
}

.testimonial-card {
    display: inline-block;
    margin-inline: 40px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    width: 300px;
}
.tbody {
    font-size: 1.1rem;
    font-style: italic;
    color: var(--fg);
    margin-bottom: 0.5rem;
    line-height: 1.6;
    /* position: relative; */
    padding-left: 1rem;
    border-left: 3px solid #ff914d; /* subtle visual accent */
    text-wrap: wrap;
}
.author {
    font-weight: 600;
    font-size: 1rem;
    color: var(--fg-secondary);
    margin-top: 0.5rem;
    text-wrap: wrap;
}

.career {
    font-size: 0.875rem;
    color: var(--bg-tertiary);
    margin-top: 0.1rem;
    text-wrap: wrap;
}

button#next {
    right: -1.1em;
}
button#prev {
    left: -1.1em;
}

@media screen and (max-width: 768px) {
    section.features-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.card-ft {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-block: 1em;
        padding: 2em 1em;
        margin-inline: 0.5em;
        background-color: var(--primary);
        color: var(--bg);
        border-radius: 1em;
        transition: all 0.2s ease-in-out;
    }
    div.card-ft p {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    div.card-ft:hover {
        width: 80%;
    }

    div.card-ft:hover p {
        opacity: 1;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 0;
        margin: 0;
    }

    .h1.hero {
        font-size: 3em;
        line-height: 1em;
        color: var(--fg);
        margin-block: 0;
        padding: 0;
    }
    h2.hero {
        font-size: 3em;
        line-height: 1em;
        margin-block: 0;
        padding: 0;
        color: var(--fg);
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 20px;
        width: auto;
    }

    .hero-image img {
        width: 100%;
        border: solid 0.1em var(--bg-secondary);
        border-radius: 1em;
        margin: 0;
        padding: 0;
    }

    header.header div.quick-access {
        display: none;
    }
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
