@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --lowp: #73C98D;
    --lowp-bg: rgb(115 201 141 / 0.1);
    --medp: #FFC919;    
    --medp-bg: rgb(255 201 25 / 0.1);
    --highp: #EC6E70;
    --highp-bg: rgb(236 110 112 / 0.1);
}

.light {
    --fg: rgb(39, 36, 42);
    --fg-secondary: rgb(124, 114, 133);
    --bg: #ffffff;
    --bg-secondary: #f3f2f5;
    --bg-tertiary: #fcfaff;
}

.dark {
    --fg: rgb(244, 240, 255);
    --fg-secondary: rgb(182, 175, 188);
    --bg: #222024;
    --bg-secondary: #323036;
    --bg-tertiary: #3f3c43;
}

.mandarina {
    --primary: #FFAC5E;
    --secondary: #4dde89;
}
.peach {
    --primary: #f599a6;
    --secondary: #9ab0a7;
}
.coffee {
    --primary: #74512D;
    --secondary: #AF8F6F;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;


    background: var(--bg);
    color: var(--fg);
    transition: all 0.5s ease;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1, h2, h3, h4 {
    font-weight: 900;
}

h2 {
    font-size: 2em;
    color: var(--secondary);
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

.accented {
    color: var(--primary)
}

div.card {
    max-width: 400px;
    border-radius: 12px;
    padding: 2em;
    border: 0.2em solid rgba(209, 213, 219, 0.3);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    width: auto;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    /* color:  */
    margin-block: 2em;
    transition: border-color 0.25s;

    background-color: var(--primary);
    color: white;
    font-weight: bolder;
}
button:hover {
    background-color: var(--secondary);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.ReactModal__Overlay {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #FFAC5E;
        color: white;
        font-weight: bolder;
    }
} */
